<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        </style>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <!-- Bootstrap CSS -->
                <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
                    <title>
                        TinyApp
                    </title>
                </link>
            </meta>
        </meta>
    </head>
    <body style="font-size:20px; padding:50px;">
        <% include ./partials/_header %>
        <h1>
            -------------------------------------------------
        </h1>
        <h1>
            TinyApp
        </h1>
        <h3 style="color:blue;">
            <a href="/urls/new">
                Create New Tiny Url
            </a>
        </h3>
        <h3>
            My URLS
        </h3>
        <ul>
            <% for(var key in urls) { %>
            <li>
                <a href="/urls/<%= key %>">
                    <%= key %>
                </a>
                <h6 style="display:inline-block;">
                    --->
                </h6>
                <h6 style="display:inline-block;">
                    <%= urls[key].longURL %>
                </h6>
                <% if(urls[key].userID === ID){ %>
                <a href="/urls/<%= key %>">
                    Edit
                </a>
                <%}%>
            </li>
            <%} %>
        </ul>
    </body>
</html>
