<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <!-- Bootstrap CSS -->
                <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
                    <title>
                        New URL - TinyApp Example
                    </title>
                </link>
            </meta>
        </meta>
    </head>
    <body style="font-size:20px; padding:50px;">
        <% include partials/_header %>
        <h3>
            Create TinyURL
        </h3>
        <form action="/urls" class="form-inline" method="POST">
            <div class="form-group mb-2">
                <label for="longURL">
                    Enter a URL:
                </label>
                <input class="form-control" name="longURL" placeholder="http://" style="width: 300px; margin: 1em" type="text">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </input>
            </div>
        </form>
    </body>
</html>